<div class="hero-unit">
    <h1>Hello @Context.User.Identity.Name</h1>
    <p>Welcome to Guest facing application.</p>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Create Request Widget</h2>
        <p><a href="#!/CreateRequest">Create Request</a></p>
    </div>
    <div class="span4">
        <h2>My Request Widget</h2>
        <p>
           <a href="#!/MyRequest">My Request</a>
        </p>
    </div>
    <div class="span4">
        <h2>My Function Widget</h2>
        <p>           
            <a href="#!/MyFuntion">My Function</a>
        </p>
    </div>
</div>

